.entry-meta, .entry-footer-link {
    font-size: 1em;
}

.entry-footer-link {
    font-size: 0.5em;
}

.current span {
    background-color: #198754;
    color: white;
}

.page-numbers {
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: #198754;
}

.page-numbers:hover {
    color: #198754;
}